*.csv
*.xlsx
*.xls
*.zip
*.twb


# Folders to ignore
Final_Project/
.venv/

# OS/editor junk
.DS_Store
.idea/
.vscode/

# Data & archives
*.csv
*.tsv
*.xlsx
*.xls
*.json
*.parquet
*.feather
*.h5
*.hdf5
*.zip
*.gz
*.bz2
*.rar
*.7z
*.tar
*.tar.gz
